.container{
    display: flex;
    justify-content: space-between;
    width:1050px;
    margin:auto;
}

.left{
    width:190px;
    background-color: #eee;
    border:1px solid #ccc;
    color:blue;
    text-align: center;
    margin:2px 0;
    
}
.main{
    width:690px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: space-between;

}

.right{
    width:130px;
    background-color: #eee;
    border:1px solid #ccc;
    color:blue;
    margin:2px 0;

}

.catTitle{
    color:blue;
    font-weight: bold;
    font-size: 23px;
    width:220px;
    height:30px;
    text-align: center;
    margin: 5px 0;
    background: #eee;
    border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;

}

.categContainer{

    font-size: 10px;
    width:220px;
    /* border: 1px solid pink; */
    margin:0 4px;
    padding: 0;

}

.catname{
    width:105px;
    padding: 0;
    margin:0;
    border-bottom: 1px solid #eee;
}

.catList{
    width:80px;
    margin:0;
    padding: 0;
    
    /* height: 200px;; */
}


a{
    text-decoration: none;
    cursor: pointer;
    color:blue;
}
a.catlink:hover{
background-color: #ccc;
    color:purple;
    
}

.catpage{
    width:1200px;
}

.postpageContainer{
    width:900px;
    margin:auto;
}

.postPage{
    display: flex;
    flex-direction: column;
}

.postPage p{
    margin: 2px;
}

.cities{
    font-size: 11px;
    list-style: none;
    margin:0;
    padding: 0 4px;
    text-align: center;
}

ul p{
    font-weight: bold;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    background-color: rgb(250, 250, 250);
}

.cityHeader p{
width:682px;
height:30px;
color:black;
background-color: #eee;
margin:2px auto 10px auto;
padding: 0;
border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;
text-align:center;
font-size: 22px;

}

.maincontainer{
    padding:0px;
}

.left p{
    margin:auto;
}
.left>p:nth-child(2){
    background-color: #ffc;
    width:125px;
}

.linktopages{
    margin:25px 0;
    font-size: 12px;
}
.searchp{
    margin:15px 0;
    height:30px;
    border-radius: 5px;
    border:none;
}

.searchp::placeholder{
    font-size: 16px;
    padding-left: 3px;
}

.left:hover{
    cursor: pointer;
}

.creapost{
    display:flex;
    flex-direction: column;
    width:750px;
    margin:auto;
}

.creapost textarea{
    height:150px;
    font-size: 16px;

}

.creapost button{
    height: 40px;
    font-size: 20px;
    margin-top: 10px;;
}

.dropdownCat{
    display:flex;
    flex-direction: column;
    width:750px;
    margin:10px auto 40px auto;
}
.dropdownCat select{
    height:40px;
    font-size: 17px;
    margin-bottom: 10px;

}

.dropdownCat .subcatOpt{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dropdownCat label{
    font-size: 15px;;
    margin:3px ;
    width:225px;
    max-height:220px ;
}

.dropdownCat input{
    margin-left: 7px;
}

.creapost label{
    margin:10px 0;
}
.creapost input{
    height:30px;
    font-size: 16px;
}

.fieldreq{
    color:red;
}


.createPostContainer h1{
width:750px;
color:blue;
margin: auto;
}

.postpageContainer h1{
color: blue;
}

.postdesc, .titleonpost{
    font-weight: bold;
}

p.postdesc{
    margin-top: 20px;
}

.onePostContainer{
    width:700px;
    margin:auto;

}