.container{
    display: flex;
    justify-content: space-between;
    width:1050px;
    margin:auto;
}

.left{
    width:190px;
    background-color: #eee;
    border:1px solid #ccc;
    color:blue;
    margin:2px 0;
}
.main{
    width:690px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  

}

.right{
    width:130px;
    background-color: #eee;
    border:1px solid #ccc;
    color:blue;
    margin:2px 0;

}

.catTitle{
    color:blue;
    font-weight: bold;
    font-size: 23px;
    width:220px;
    height:30px;
    text-align: center;
    margin: 5px 0;
    background: #eee;
    border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;

}

.categContainer{

    font-size: 10px;
    width:220px;
    /* border: 1px solid pink; */
    margin:0 4px;
    padding: 0;

}

.catname{
    width:105px;
    padding: 0;
    margin:0;
    border-bottom: 1px solid #eee;
}

.catList{
    width:80px;
    margin:0;
    padding: 0;
    
    /* height: 200px;; */
}


a{
    text-decoration: none;
    cursor: pointer;
    color:blue;
}
a.catlink:hover{
background-color: #ccc;
    color:purple;
    
}

.catpage{
    width:1200px;
}

.cities{
    font-size: 11px;
    list-style: none;
    margin:0;
    padding: 0 4px;
    text-align: center;
}

ul p{
    font-weight: bold;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    background-color: rgb(250, 250, 250);
}

.cityHeader p{
width:676px;
height:30px;
color:black;
background-color: #eee;
margin:2px auto 10px auto;
padding: 0;
border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;
text-align:center;
font-size: 22px;

}

.maincontainer{
    padding:0px;
}
